# .flake8
[flake8]
per-file-ignores = tests/*:S101
import-order-style = google
application-import-names = tutompy,tests
select = ANN,B,B9,BLK,C,D,DAR,E,F,I,S,W
docstring-convention = google
ignore = E203,E501,W503,DAR003
max-line-length = 80
